.group-holding {
  margin-top: 13rem;
  justify-content: center !important;
  border-radius: 40px;
  padding: 2rem;
  left: 7rem;
  top: 95rem;
  background: url(../../../images/Group\ 38.png);
h3{
  justify-content: center;
  display: flex;
  font-size: 30px;
}
}

.group-p {
  margin-left: 21rem;
}
